#!/bin/sh
# vim:set filetype=sh:
#
# BSD 3-Clause License, Justin W. Wheeler <https://jwf.io>
#
# xrandr wrapper script for a mixed monitor desktop.
#
# This script is one part of a pair of scripts to create a preferred xrandr environment:
#   - 1x HiDPI display (on a 14" laptop screen)
#   - 1x HP 1080p 24" monitor display
#
# In this script, there are two displays:
#   - {{ archived_monitors.hidpi.id}}: 4K ({{ archived_monitors.hidpi.ratio }}) display (a.k.a. HiDPI)
#   - {{ archived_monitors.standard.id }}: 1080p ({{ archived_monitors.standard.ratio }}) HP monitor
#
# There is also a Lenovo USB dock that offers additional outputs; these are turned off.
# The final arrangement is the HP monitor arranged to the left of the 4K laptop display.

xrandr \
  --output {{ archived_monitors.hidpi.id }} \
    --mode {{ archived_monitors.hidpi.ratio }} \
    --pos {{ archived_monitors.hidpi.pos }} \
    --scale 1x1 \
    --rotate normal \
  \
  --output {{ archived_monitors.standard.id }} \
    --primary \
    --mode {{ archived_monitors.standard.ratio }} \
    --pos {{ archived_monitors.standard.pos }} \
    --scale 2x2 \
    --rotate normal \
  \
  --output HDMI-1 \
    --off \
  \
  --output DP-2 \
    --off

# restart i3 session so the wallpaper fits correctly on all displays
i3-msg restart | true
