#!/bin/sh
# vim:set filetype=sh:
#
# BSD 3-Clause License, Justin W. Wheeler <https://jwf.io>
#
# xrandr wrapper script for a HiDPI laptop display.
#
# This script creates a preferred xrandr configuration:
#   - 1x HiDPI display (on a 14" laptop screen)
#   - 1x HP 1080p 24" monitor display
#
# In this script, there is one display:
#   - {{ archived_monitors.hidpi.id}}: 4K ({{ archived_monitors.hidpi.ratio }}) display (a.k.a. HiDPI)
#

xrandr \
  --output {{ archived_monitors.hidpi.id }} \
    --primary \
    --mode {{ archived_monitors.hidpi.ratio }} \
    --pos {{ archived_monitors.hidpi.pos }} \
    --scale 1x1 \
    --rotate normal \
  \
  --output {{ archived_monitors.standard.id }} \
    --off \
  \
  --output HDMI-1 \
    --off \
  \
  --output DP-1-8 \
    --off \
  \
  --output DP-2 \
    --off

# restart i3 session so the wallpaper fits correctly on all displays
i3-msg restart | true
